RewriteEngine On

# Nếu là file có thật (như /assets/js/app.js) thì trả về file đó luôn, dừng lại tại đây
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Nếu không phải file thật, mới đẩy vào index.php để xử lý
RewriteRule ^ index.php [QSA,L]